// SPDX-License-Identifier: ISC
// Copyright (c) 2022, Qualcomm Innovation Center, Inc. All rights reserved.

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/ath79-clk.h>

#include "qca4531.dtsi"

/ {
	compatible = "qca,ap147ioe_16M", "qca,ath79";
	model = "AP147 IoE reference board";

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;

		poll-interval = <20>;

		button@0 {
			label = "WPS button";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led@0 {
			label = "ap147ioe:green:status";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		led@1 {
			label = "ap147ioe:green:wlan";
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};

	};
};

&spi {
	status = "okay";

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <25000000>;
		cs-gpios = <&gpio 0 GPIO_ACTIVE_LOW>;
	};
};

