// SPDX-License-Identifier: ISC
/*
 * Copyright (c) 2022, Qualcomm Innovation Center, Inc. All rights reserved.
 */
/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/ath79-clk.h>

#include "ath79.dtsi"

/ {
	compatible = "qca,cus531", "qca,ath79";
	model = "QCA CUS531 Board";

	aliases {
		serial0 = "/ahb/apb/uart@18020000";
	};

	cpus {
		cpu@0 {
			clocks = <&pll ATH79_CLK_CPU>;
		};
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x2000000>;
	};

	chosen {
		bootargs = "board=CUS531-NAND console=ttyS0,115200 ubi.mtd=5,2048 root=/dev/mtdblock8 mtdparts=spi0.0:256k(u-boot)ro,64k(u-boot-env),128k(reserved),64k(art);spi0.1:2m(kernel),36m(rootfs),90m(data),38m@0x0(firmware) rootfstype=squashfs,jffs2 noinitrd mem=64M rootfstype=squashfs,jffs2 noinitrd loglevel=8 panic=10 initcall_debug=0";

	};

	extosc: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	cpuintc: interrupt-controller {
		qca,ddr-wb-channel-interrupts = <3>;
		qca,ddr-wb-channels = <&ddr_ctrl 0x2>;
	};

	ahb {
		apb {
			uart@18020000 {
				status = "okay";
			};

			pll-controller@18050000 {
				clocks = <&extosc>;
			};

			ip3_int: interrupt-controller@ip3_int {
				status = "disabled";
			};

			pll: pll-controller@18050000 {
				compatible = "qca,qca9530-pll";
				reg = <0x18050000 0x20>;

				clock-names = "ref";
				/* The board must provides the ref clock */

				#clock-cells = <1>;
				#clock-output-names = "cpu", "ddr", "ahb";
			};
		};

		spi_0: spi@1f000000 {
			status = "okay";

			flash@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "n25q128a11";
				linux,modalias = "jedec,spi-nor", "n25q128a11", "m25p80";
				reg = <0>;
				spi-max-frequency = <25000000>;

				partition@0 {
					label = "u-boot";
					reg = <0x000000 0x040000>;
				};

				partition@1 {
					label = "u-boot-env";
					reg = <0x040000 0x010000>;
				};

				partition@2 {
					label = "reserved";
					reg = <0x050000 0x020000>;
				};

				partition@3 {
					label = "art";
					reg = <0x070000 0x0010000>;
				};

			};

			flash@1 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "spi-nand";
				reg = <1>;
				spi-max-frequency = <50000000>;
				status = "okay";
				/* cs-gpios = <&gpio 1 GPIO_ACTIVE_LOW>; */
				partition@0 {
					label = "kernel";
					reg = <0x000000 0x200000>;
				};

				partition@1 {
					label = "rootfs";
					reg = <0x200000 0x2400000>;
				};

				partition@2 {
					label = "data";
					reg = <0x2600000 0x5a00000>;
				};
			};
		};
	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;

		poll-interval = <20>;

		button@0 {
			label = "WPS button";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led@0 {
			label = "cus531:green:status";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		led@1 {
			label = "cus531:green:wlan";
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};

	};
};
