// SPDX-License-Identifier: ISC
// Copyright (c) 2022, Qualcomm Innovation Center, Inc. All rights reserved.

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/clock/ath79-clk.h>

#include "qca4531.dtsi"

/ {
	compatible = "qca,cus531mp3_16M", "qca,ath79";
	model = "CUS531 MP3 reference board";

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;

		poll-interval = <20>;

		button@0 {
			label = "WPS button";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led@0 {
			label = "cus531mp3:green:status";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		led@1 {
			label = "cus531mp3:green:wlan";
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};

	};
};

&spi {
	status = "okay";
	spi-bus-num = /bits/ 16 <0>;
	spi-chipselect = /bits/ 16 <3>;

	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <25000000>;
		cs-gpios = <&gpio 0 GPIO_ACTIVE_LOW>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			art: partition@70000 {
				label = "art";
				reg = <0x70000 0x010000>;
				read-only;
			};
		};
	};
};

&eth0 {
	status = "okay";
	compatible = "qca,qca9530-eth", "syscon";
	pll-data = <0x00001616 0x00000101 0x16000000>;
	pll-reg = <0x4 0x2c 17>;
	pll-handle = <&pll>;

	reset-names = "mac";
	resets = <&rst 9>;

	mtd-mac-address = <&art 0x0>;

	fixed-link {
		speed = <100>;
		full-duplex;
	};
};

&mdio0 {
	status = "okay";
};

&mdio1 {
	status = "okay";
	resets = <&rst 23>;
	reset-names = "mdio";
	builtin-switch;

	builtin_switch: switch0@1f {
		compatible = "qca,ar8229";

		reg = <0x1f>;
		resets = <&rst 8>;
		reset-names = "switch";
		phy-mode = "gmii";
		qca,phy4-mii-enable;
		qca,mib-poll-interval = <500>;

		mdio-bus {
			#address-cells = <1>;
			#size-cells = <0>;

			swphy0: ethernet-phy@0 {
				reg = <0>;
				phy-mode = "mii";
			};

			swphy4: ethernet-phy@4 {
				reg = <4>;
				phy-mode = "mii";
			};
		};
	};
};

&eth1 {
	status = "okay";

	compatible = "qca,qca9530-eth", "syscon", "simple-mfd";
	resets = <&rst 13>;
	reset-names = "mac";

	phy-mode = "gmii";

	phy-handle = <&swphy4>;
	mtd-mac-address = <&art 0x6>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
